<div class="m-3">
  <%= form_tag contacts_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query] = '',
      class: "form-control-sm mb-4",
      placeholder: "Find a contact"
    %>
  <% end %>

  <% @contacts.each do |contact| %>
    <%= contact.name %>,
    <%= contact.email %>,
    <%= contact.phone %>
    <hr>
  <% end %>
</div>

